{:paths ["src"]
 :deps
 {org.clojure/clojure   {:mvn/version "1.9.0"},
  org.clojure/data.json {:mvn/version "0.2.6"},
  org.clojure/java.data {:mvn/version "0.1.1"},
  
  com.github.oshi/oshi-core {:mvn/version "4.0.0"},
  
  aleph    {:mvn/version "0.4.6"},
  bidi     {:mvn/version "2.1.3"},
  clj-http {:mvn/version "3.10.0"},

  org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.11.0"},
  org.apache.logging.log4j/log4j-core       {:mvn/version "2.11.0"},


  javax.xml.bind/jaxb-api     {:mvn/version "2.2.11"},
  com.sun.xml.bind/jaxb-core  {:mvn/version "2.2.11"},
  com.sun.xml.bind/jaxb-impl  {:mvn/version "2.2.11"},
  javax.activation/activation {:mvn/version "1.1.1"}
  }
 :aliases {:uberjar {:extra-deps {uberdeps {:mvn/version "0.1.4"}}
                     :main-opts  ["-m" "uberdeps.uberjar" "--target" "target/cdeps-0.1.0.jar"]}}}
